---
Language: Cpp
BasedOnStyle: Microsoft

AlignConsecutiveAssignments:
  PadOperators: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
EmptyLineBeforeAccessModifier: Leave
IndentRequiresClause: false
InsertNewlineAtEOF: true
PackConstructorInitializers: Never
PenaltyBreakAssignment: 19
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakFirstLessLess: 2
